.welcome-container {
    display: table;

    width: 100%;
    height: 100%;
}

.triggers {
    position: absolute;
    vertical-align: middle;

    top: calc(50% - 201px);
    left: calc(50% - 264px);

    width: 528px;
    margin: auto;
}

.trigger {
    position: relative;
    display: inline-block;

    text-align: center;

    width: 250px;
    height: 400px;
    margin: 5px;

    border: 1px solid grey;

    font-size: 30px;

    -webkit-transition: border-radius 0.5s;
    transition: border-radius 0.5s;
}

.trigger:hover {
    border-radius: 0 150px 0 0;
}

.inner-trigger {
    padding: 15px 10px 15px 10px;
}

h1.trigger-title {
    font-size: 30px;
}

.trigger-background {
    filter: blur(5px);
    opacity: 0.4;

    background-size: 100% 100%;
    background-color: grey;

    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -50;
}
